@import '../styles/colors';

.contact {
    text-align: center;
    padding: 2rem;

    h2 {
        font-size: 2rem;
        font-weight: 700;

        @media (max-width: 1024px) {
            font-size: 1.5rem;
        }
    }

    .contact-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 30vh;
        gap: 2%;

        .email {
            cursor: pointer;
            text-decoration: none;
            font-size: 1.3rem;
            position: relative;


            .popup {
                position: absolute;
                bottom: 150%;
                left: 90%;
                transform: translateX(-50%);
                background-color: transparent;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                border-radius: 5px;
                padding: 5px 10px;
                font-size: 0.9rem;
                white-space: nowrap;
                z-index: 1;
            }
        }

        .icon-container {
            width: 3rem;

            .icon { 
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }
    
    @media (max-width: 1080px) {
        .contact-info {
            
            .email {
                font-size: 1rem;
            }
            
            .icon-container {
                width: 40px;
                height: 40px;
                margin-bottom: 0;
            }
        }
    }   
    
    @media (max-width: 768px) {
        .contact-info {
            flex-direction: column;
            height: auto; 
            gap: 1rem;

            .email {
                font-size: 1rem; 
                margin-bottom: 1rem; 
                text-align: center;
            }
            
            .icon-container {
                width: 40px;
                height: 40px;
            }
        }
    }
}

