@import '../styles/colors';

.navbar {
    position: fixed;
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $nav-dark-color;
    color: $light-color;
    border-bottom: 1px solid rgb(19, 19, 19);

    h1 {
        font-size: 1.7rem;
        font-weight: 600;
        padding: 1.5%;
    }

    .navbar-links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 35%;

        a {
            font-size: 1.05rem;
            color: $light-color;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $link-hover-color;
            }
        }
    }

    .navbar-actions {
        display: flex;
        align-items: center;
        padding: 1.5%;
    }

    @media (max-width: 1024px) {
        .navbar {
            height: 7vh;
        }

        .navbar-links {
            a {
                font-size: 0.9rem;
            }
        }

        .navbar-actions {
            display: flex;
            width: 30%;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 1.5rem;
        }

        .navbar-links {
            a {
                position: relative;
                display: block;
                font-size: 0.65rem;
            }
        }

        .navbar-actions {
            width: 40%;
        }
    }

    @media (max-width: 640px) {
        h1 {
            font-size: 1.2rem;
        }

        .navbar-links {
            a {
                font-size: 0.5rem;
            }
        }
    }

    @media (max-width: 480px) {
        h1 {
            font-size: 1.1rem;
        }

        .navbar-links {
            a {
                font-size: 0.4rem;
                padding: 1%;
            }
        }
    }
}


