@import '../styles/colors';

.projects {
    padding: 2rem;

    h2 {
        font-size: 2rem;
        font-weight: 700;
        padding: 2rem;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }
    }

    .project-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2vw;

        .project-card {
            display: grid;
            background-color: transparent;
            border-radius: 8px;
            padding: 1rem;
            width: 17vw;
            text-align: center;
            box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);

            .project-img {
                width: 100%;
                border-radius: 8px;
                padding-top: 0;
            }

            h3 {
                margin: auto;
                padding-bottom: 1rem;
                font-size: 1.3rem;
            }

            p {
                display: flex;
                justify-content: center;
                text-align: start;
                font-size: 0.9rem;
            }

            a {
                color: #3570b3;
                background-color: transparent;
                text-decoration: none;
                font-size: 0.8rem;
                border: 2px solid #3570b3;
                border-radius: 8px;
                padding: 0.35rem;
                margin-top: auto;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: #3570b3;
                    color: #fff;
                }
            }
        }

        @media (max-width: 1024px) {
            .project-card {
                width: 45%;
            }
        }

        @media (max-width: 768px) {
            justify-content: flex-start;
            
            .project-card {
                width: 100%; 
                margin-bottom: 2rem;
            }
        }

        @media (max-width: 480px) {
            .project-card {
                padding: 0.8rem;
            }
        }
    }
}
