.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .skills-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .skills-container {
        justify-content: space-around;

        .skills-hard {
            display: block;
            padding: 1%;

            .hard-skills-title {
                font-size: 1.6rem;
                font-weight: 700;
                padding: 1rem;
            }

            .skills-logos {
                display: flex;
                justify-content: center;
                gap: 2%;

                img {
                    width: 5%;
                    height: 5%;
                }
            }
        }

        .skills-soft {

            .soft-skills-title {
                font-size: 1.6rem;
                font-weight: 700;
                padding: 1rem;
            }

            ul {
                list-style: none;
                margin-left: -5%;

                li {
                    display: inline-block;
                    padding: 0.7rem;
                    margin: 0.5rem;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
                    border-radius: 50px;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
