.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .skills-title {
        font-size: 2rem;
        font-weight: 700;
        padding: 5vh;
    }

    .skills-container {
        justify-content: space-around;

        .hard-skills {
            display: block;
            padding: 5vh;

            .skills-logos {
                display: flex;
                justify-content: center;
                gap: 1.5vw;

                img {
                    width: 5vw;
                }
            }
        }

        .soft-skills {

            ul {
                list-style: none;
                margin-left: -5%;

                li {
                    display: inline-block;
                    padding: 0.7rem;
                    margin: 0.5rem;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
                    border-radius: 50px;
                    font-size: 1.1rem;
                }
            }
        }
    }
}
