.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .skills-title {
        font-size: 2rem;
        font-weight: 700;
        padding: 5vh;
        text-align: center;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .hard-skills {
            padding: 5vh;

            .skills-logos {
                display: flex;
                justify-content: center;
                gap: 1.5vw;

                img {
                    width: 9vw;
                    max-width: 74px;
                }
            }
        }

        .soft-skills {
            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li {
                    display: inline-block;
                    padding: 0.7rem;
                    margin: 0.5rem;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
                    border-radius: 50px;
                    font-size: 1.1rem;

                    @media (max-width: 1024px) {
                        font-size: 1rem;
                    }

                    @media (max-width: 768px) {
                        font-size: 0.6rem;
                        padding: 0.5rem;
                    }
                    
                    @media (max-width: 768px) {
                        font-size: 0.6rem;
                        padding: 0.5rem;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .skills-title {
            font-size: 1.5rem;
        }
    }
}
