@import './styles/colors';

body::-webkit-scrollbar {
  width: 0;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;

  &.light {
    background-color: $light-bg;
    color: $dark-color;
  }

  &.dark {
    background-color: $dark-bg;
    color: $light-color;
  }

  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;

    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.2);
    }

    &.active {
      background-color: $light-bg;
      color: $dark-color;
    }
  }
}
